.modalbgAside {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 39%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -387px;
    margin-left: 0px;
    
    overflow-x:hidden 
  }